<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Management Details</span>
            <h1 class="text-capitalize mb-5 text-lg">{{selectedProfile[0].name}}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div *ngIf="selectedProfile[0].id==1">
<section class="section doctor-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="doctor-img-block">
					<img src="../../assets/images/team/1.jpg" alt="" class="img-fluid w-100">

					<div class="info-block mt-4">
						<h4 class="mb-0">{{selectedProfile[0].name}}</h4>
						<p>{{selectedProfile[0].role}}</p>

						<ul class="list-inline mt-4 doctor-social-links">
							<li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-8 col-md-6">
				<div class="doctor-details mt-4 mt-lg-0">
					<!-- <h2 class="text-md">Introducing to myself</h2>
					<div class="divider my-4"></div> -->
					<p>Kamakshi Pandarinathan Trust is founded by his good self Shri. P. Paulraj, hailing from Dindigul. Though born and brought up in a humble farmer’s family nothing stopped his dream to serve the nation in a self-sacrificing way. After receiving degree in English literature in the year 1975, he worked at Income Tax office and then for Indian Bank till 2014. </p>
					<p>Being service oriented, Shri P. Paulraj, after retirement services persuaded his soulful dream. He stood as a backbone for many charity-based services in Dindigul empowering unprivileged children and women which led to strong establishment of Trust.</p>
				</div>
			</div>
		</div>
	</div>
</section>

</div>
<div *ngIf="selectedProfile[0].id==2">
	<section class="section doctor-single">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="doctor-img-block">
						<img src="../../assets/images/team/1.jpg" alt="" class="img-fluid w-100">
	
						<div class="info-block mt-4">
							<h4 class="mb-0">{{selectedProfile[0].name}}</h4>
							<p>{{selectedProfile[0].role}}</p>
	
							<ul class="list-inline mt-4 doctor-social-links">
								<li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
	
				<div class="col-lg-8 col-md-6">
					<div class="doctor-details mt-4 mt-lg-0">
					
						<p>Dr. P. Sugumar has successfully helped in establishing the trust and is heading the organization since establishment.  After completing post-graduation in Occupational therapy his quench to serve the needy as like his father has made a pathway towards stronger and deeper foundation of Kamakshi Pandarinathan Trust.  </p>
						<p>The trust was started with a few children with developmental disorder with his continuous effort, now the Trust is a well-established center for children with Autism delivering child specific evidence-based practice services. His motto is to serve the needy with the available resources.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- 
	<section class="section doctor-qualification ">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h3>My Educational Qualifications</h3>
						<div class="divider my-4"></div>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-lg-6">
					<div class="edu-block mb-5">
						<span class="h6 text-muted">Year(2005-2007) </span>
						<h4 class="mb-3 title-color">MBBS, M.D at University of Wyoming</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
					</div>
	
					<div class="edu-block">
						<span class="h6 text-muted">Year(2007-2009) </span>
						<h4 class="mb-3 title-color">M.D. of Netherland Medical College</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
					</div>
				</div>
	
				<div class="col-lg-6">
					<div class="edu-block mb-5">
						<span class="h6 text-muted">Year(2009-2010) </span>
						<h4 class="mb-3 title-color">MBBS, M.D at University of Japan</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
					</div>
	
					<div class="edu-block">
						<span class="h6 text-muted">Year(2010-2011) </span>
						<h4 class="mb-3 title-color">M.D. of Canada Medical College</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	</div>
	<div *ngIf="selectedProfile[0].id==3">
		<section class="section doctor-single">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="doctor-img-block">
							<img src="../../assets/images/team/1.jpg" alt="" class="img-fluid w-100">
		
							<div class="info-block mt-4">
								<h4 class="mb-0">{{selectedProfile[0].name}}</h4>
								<p>{{selectedProfile[0].role}}</p>
		
								<ul class="list-inline mt-4 doctor-social-links">
									<li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
		
					<div class="col-lg-8 col-md-6">
						<div class="doctor-details mt-4 mt-lg-0">
							
							<p>He is the man who strongly believes that Speech and language therapy help patients (autistic people) of all ages with varying levels of speech, language and communication problems, or difficulties in swallowing, drinking or eating.</p>
							<p>He usually works as part of a multidisciplinary team alongside other health professionals, and will often liaise with family, careers or teachers when developing treatment plans. He will also work in private practice.</p>
						</div>
						<div class="col-lg-12">
							<h3>Skills</h3>
							<div class="divider my-4"></div>
							<h6>Speech Therapy </h6>
							<p>
								As a speech and language therapist (SLT), he will provide treatment, care and support to babies, children, adults and elderly people with a range of conditions, including language delay and voice disorders. These can be caused by a range of issues, including:
								
									</p>
									<ul class="list-unstyled department-service">
									<li><i class="icofont-check mr-2"></i>Developmental delays</li>
									<li><i class="icofont-check mr-2"></i>Injury</li>
									<li><i class="icofont-check mr-2"></i>Learning disabilities</li>
									<li><i class="icofont-check mr-2"></i>Mental health conditions</li>
									<li><i class="icofont-check mr-2"></i>physical disabilities.</li>
									<li><i class="icofont-check mr-2"></i>Emergency Assistance</li>
								</ul>
						
							<h6>Audiology</h6>
							<p>He is also Specialized in Audiology.Audiology is a branch of science that deals with hearing and hearing related disorders. Students of Audiology are educated regarding the anatomy and physiology of the normal and abnormal auditory system. They are trained in identification & differential diagnosis of auditory disorders. These include disorders of the middle ear, inner ear, auditory nerve and the central auditory nervous system. With training they develop expertise in audiological rehabilitation, like recommendation of amplification devices including hearing aids and cochlear implants. They also learn the assessment and management of individuals with tinnitus, vestibular disorders and auditory processing disorders.</p>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		
		<section class="section doctor-qualification ">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="section-title">
							<h3>Educational Qualifications</h3>
							<div class="divider my-4"></div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="col-lg-6">
						<div class="edu-block mb-5">
							<span class="h6 text-muted">Year(2010) </span>
							<h4 class="mb-3 title-color">Diploma In Hearing Language & Speech </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
						</div>
		
						<div class="edu-block">
							<span class="h6 text-muted">Year(2010-2015) </span>
							<h4 class="mb-3 title-color">Bachelor Of Audiology & Speech Language Pathology </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
						</div>
					</div>
		
					<div class="col-lg-6">
						<div class="edu-block mb-5">
							<span class="h6 text-muted">Year(2015-2017) </span>
							<h4 class="mb-3 title-color">Master Of Audiology & Speech Language Pathology </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
						</div>
		
						
					</div>
				
				</div>
			</div>
		</section>
		</div>
	<div *ngIf="selectedProfile[0].id==4">
		<section class="section doctor-single">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="doctor-img-block">
							<img src="../../assets/images/team/1.jpg" alt="" class="img-fluid w-100">
		
							<div class="info-block mt-4">
								<h4 class="mb-0">{{selectedProfile[0].name}}</h4>
								<p>{{selectedProfile[0].role}}</p>
		
								<ul class="list-inline mt-4 doctor-social-links">
									<li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
		
					<div class="col-lg-8 col-md-6">
						<div class="doctor-details mt-4 mt-lg-0">
							
							<p>He is the nutritionist evaluates clients' needs to identify their dietary requirements and restrictions. He use his expert knowledge of nutrition and food to help others make better healthy food choices. His duties include creating meal plans, training the public, and establishing goals. </p>
							<p>12+ Years of experience in Nutrition, Dietetics and Food Safety Management System in Hospitals and Catering services in India & Gulf countries.</p>
						</div>
						<div class="col-lg-12">
							<h3>Awards</h3>
							<div class="divider my-4"></div>
							<p>A Lifetime Member of INDIAN DIETETIC ASSOCIATION and NUTRITION SOCIETY OF INDIA</p>
							<p>HACCP level 3 Certification.</p>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		
		<section class="section doctor-qualification ">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="section-title">
							<h3>Educational Qualifications</h3>
							<div class="divider my-4"></div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="col-lg-7">
						<div class="edu-block mb-5">
							<span class="h6 text-muted">Year(2003-2006) </span>
							<h4 class="mb-3 title-color">B.SC,Food Science and Nutrition at Gandhigram deemed University</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
						</div>
		
					
					</div>
		
					<div class="col-lg-5">
						<div class="edu-block mb-5">
							<span class="h6 text-muted">Year(2006-2008) </span>
							<h4 class="mb-3 title-color">M.SC, Food Science and Nutrition from Periyar</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi doloremque harum, mollitia, soluta maxime porro veritatis fuga autem impedit corrupti aperiam sint, architecto, error nesciunt temporibus! Vel quod, dolor aliquam!</p>
						</div>
					</div>
				
				</div>
			</div>
		</section>
		</div>