
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Our services</span>
            <h1 class="text-capitalize mb-5 text-lg">What We Do</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section service-2">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6"[routerLink]="['/services-single',1]">
                  <div class="service-block mb-5">
                      <img src="../../assets/images/service/occapational.png" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Occupational Therapy</h4>
                          <p class="mb-4">Occupational therapy to improve a child’s fine motor skills and sensory issues. </p>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 col-sm-6" [routerLink]="['/services-single',2]">
                  <div class="service-block mb-5">
                      <img src="../../assets/images/service/speech.png" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2  title-color">Speech and Language Therapy</h4>
                          <p class="mb-4">Pathologist works along with parents in delivering the therapy in a play way.  </p>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6 col-sm-6" [routerLink]="['/services-single',3]">
                  <div class="service-block mb-5">
                      <img src="../../assets/images/service/physiotherapy.jpg" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Physiotherapy </h4>
                          <p class="mb-4">Neuro developmental therapy and gait therapy is primarily offered in our trust.</p>
                      </div>
                  </div>
              </div>
  
  
              <div class="col-lg-4 col-md-6 col-sm-6"  [routerLink]="['/services-single',4]">
                  <div class="service-block mb-5 mb-lg-0">
                      <img src="../../assets/images/service/special-education.png" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Special Education </h4>
                          <p class="mb-4">A set of teachers work along with children with special needs and strictly follows Individualized Educational Program.</p>
                      </div>
                  </div>
              </div>
  
              <div class="col-lg-4 col-md-6 col-sm-6"  [routerLink]="['/services-single',6]">
                  <div class="service-block mb-5 mb-lg-0">
                      <img src="../../assets/images/service/Auditory-Verbal-Therapy (1).png" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Auditory Verbal Therapy</h4>
                          <p class="mb-4">We provide auditory verbal therapy a uni-sensory approach to the children with hearing impairment.   </p>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-6 col-sm-6" [routerLink]="['/services-single',5]">
                  <div class="service-block mb-5 mb-lg-0">
                      <img src="../../assets/images/service/verbal.png" alt="" class="img-fluid">
                      <div class="content">
                          <h4 class="mt-4 mb-2 title-color">Remedial Education</h4>
                          <p class="mb-4">Developmental education for children to achieve their maximum level of competency. </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  